@{
    ViewBag.Title = "eBSH";
    ViewBag.Description = "BSH";
}

<div class="box-body">
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>Best Care Gold</h3>
                <div class="price">Quyền lợi đến 30.000.000<sup class="currency">đ</sup></div>
                <ul class="pricing-info">
                    <li>Gold</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/bestcare/regorder?type=Gold" class="small-box-footer"> Đăng ký <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>Best Care Platinum</h3>
                <div class="price">Quyền lợi đến 50.000.000<sup class="currency">đ</sup></div>
                <ul class="pricing-info">
                    <li>Platinum</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/bestcare/regorder?type=Platinum" class="small-box-footer"> Đăng ký <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>Best Care Diamond</h3>
                <div class="price">Quyền lợi đến 100.000.000<sup class="currency">đ</sup></div>
                <ul class="pricing-info">
                    <li>Diamond</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/bestcare/regorder?type=Diamond" class="small-box-footer"> Đăng ký <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
