@{
    Layout = "~/Views/Shared/_CyberLayout.cshtml";
    ViewBag.Title = "CyberGuard";
    ViewBag.Description = "BSH";
}

<div class="box-body">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>Platinum</h3>
                <div class="price">Từ 700.000<sup class="currency">đ</sup><small>/năm</small></div>
                <ul class="pricing-info">
                    <li>Giao dịch giả mạo (U)</li>
                    <li>Lừa đảo bán lẻ trực tuyến (O)</li>
                    <li>Tống tiền qua mạng (C)</li>
                    <li>Trộm cắp danh tính (I)</li>
                    <li>Chi phí phục hồi (R)</li>
                </ul>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="/cyber/regorder?type=Platinum" class="small-box-footer"> Đăng ký <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Gold</h3>
                <div class="price">Từ 400.000<sup class="currency">đ</sup><small>/năm</small></div>
                <ul class="pricing-info">
                    <li>Giao dịch giả mạo (U)</li>
                    <li>Lừa đảo bán lẻ trực tuyến (O)</li>
                    <li>Tống tiền qua mạng (C)</li>
                </ul>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/cyber/regorder?type=Gold" class="small-box-footer"> Đăng ký <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>Titan</h3>
                <div class="price">Từ 250.000<sup class="currency">đ</sup><small>/năm</small></div>
                <ul class="pricing-info">
                    <li>Giao dịch giả mạo (U)</li>
                    <li>Lừa đảo bán lẻ trực tuyến (O)</li>
                </ul>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/cyber/regorder?type=Titan" class="small-box-footer"> Đăng ký <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->

</div>
