@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked";
    Layout = "~/Areas/manage/Views/Shared/_AdminLayout.cshtml";
}

<hgroup>
    <h1 class="text-danger">Thông báo</h1>
    <h2 class="text-danger">Tài khoản đã bị khoá không thể truy cập hệ thống</h2>
</hgroup>
